<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1FB8A5C3-2012-4AED-AA79-E57F2B06A005</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69F48EE0-332B-4D4D-B1DD-DCFF6572281D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>95D8840C-272E-4B1F-865C-424B00E27A8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69F48EE0-332B-4D4D-B1DD-DCFF6572281D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C9CF462A-2A16-4824-9BEC-7E5F694946CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69F48EE0-332B-4D4D-B1DD-DCFF6572281D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E9D2ECE1-A929-41F9-8819-F178C808E333</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69F48EE0-332B-4D4D-B1DD-DCFF6572281D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrey Kuznetsov (@prettynatty)</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hayoo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ho</string>
				<key>runningsubtext</key>
				<string>Fetching results...</string>
				<key>script</key>
				<string>ruby script.rb function "{query}"</string>
				<key>title</key>
				<string>Search Hayoo for '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>95D8840C-272E-4B1F-865C-424B00E27A8B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hayoo</string>
				<key>runningsubtext</key>
				<string>Fetching results...</string>
				<key>script</key>
				<string>ruby script.rb function "{query}"</string>
				<key>title</key>
				<string>Search Hayoo for '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E9D2ECE1-A929-41F9-8819-F178C808E333</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>69F48EE0-332B-4D4D-B1DD-DCFF6572281D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hp</string>
				<key>runningsubtext</key>
				<string>Fetching results...</string>
				<key>script</key>
				<string>ruby script.rb package "{query}"</string>
				<key>title</key>
				<string>Search Hayoo for '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C9CF462A-2A16-4824-9BEC-7E5F694946CF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hayoop</string>
				<key>runningsubtext</key>
				<string>Fetching results...</string>
				<key>script</key>
				<string>ruby script.rb package "{query}"</string>
				<key>title</key>
				<string>Search Hayoo for '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1FB8A5C3-2012-4AED-AA79-E57F2B06A005</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1FB8A5C3-2012-4AED-AA79-E57F2B06A005</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>69F48EE0-332B-4D4D-B1DD-DCFF6572281D</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>95D8840C-272E-4B1F-865C-424B00E27A8B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C9CF462A-2A16-4824-9BEC-7E5F694946CF</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>E9D2ECE1-A929-41F9-8819-F178C808E333</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>fear.loathing.in</string>
</dict>
</plist>
